h1{
	margin: 0em;
	text-align: center;
	background-color: rgb(65, 65, 65);
	color: white;
	padding: 10px 0px;
}
.input-group{
	width: 70%;
}
.col-4{
	padding: 1%;
	background-color: rgb(240, 240, 240);
	float: left;
}
.col-8{
	padding: 1%;
	float: left;
}
.row{
	width: 100%;
}
h4{
	margin-top: 10px;
}
#city{
	font-size: 22px;
}
.uv1{
	background-color: green;
	color: white;
	padding: 5px;
}
.uv2{
	background-color: yellow;
	color: black;
	padding: 5px;
}
.uv3{
	background-color: orange;
	color: black;
	padding: 5px;
}
.uv4{
	background-color:red;
	color: white;
	padding: 5px;
}
.uv5{
	background-color:violet;
	color: white;
	padding: 5px;
}
.card{
	background-color: rgb(70, 124, 240);
	color: white;
	padding: 10px;
}
#forecastNow{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(235, 233, 233);
	padding: 10px;
}